
.wrapper{
    margin-left:10%;
}
.card-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
.card{
    border:1px solid #fff;
}
.card-title{
    color: #ffd700;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-text{
    color: #fff;
}
