.skills-page{
    border-top: 2px solid #fff;
    h1{
        text-align: center;
        color: #ffd700;
    }
    
}
#title{
    text-align: center;
    color: #ffd700;
    font-size:25px;
}
.programming{
    border: 1px solid #fff;
   display : table;
   margin: 0 auto;
}
 ul#types{
    text-align: center;
    min-width: 696px;
	list-style: none;
}
ul#types li{
        display: inline;
        padding: 5px;
        color: #fff;
        font-size: 18px;
}

.my_description{
   border-top: 2px solid #fff;
   margin-left:7%;
    p{
        color:#ffd700;
        font-size: 12px;
        text-align: center;
    }
    a{
        color:#fff;
    }
}