.skills-page{
    border: 1px solid #fff;
    h1{
        text-align: center;
        color: #fff;
    }
}

.programming{
    border: 1px solid #fff;
    text-align: center;
    #types{
        display: flex;
        flex-direction: row;
    }
}