
.home-page{

    h1{
        color: #fff;
        font-size: 33px; 
        margin-left: -150px;  
        font-family: 'Coolvetica';
        font-weight: 400;
        animation: fadeIn 1s linear both;
        animation-delay: 0.5s;
    }

    .text-zone{
        position: absolute;
        left:50%;
        top: 40%;
        transform: translateY(-50%);
        width:40%;
        max-height: 90%;
    }
    h2{
        color:grey;
        margin-top: 20px;
        animation: fadeIn 1s linear both;
        animation-delay: 1.4s;
        font-family: 'sans-serif';
        font-size:11px;
    }

.resume-button{
    color: #ffd700;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'sans-serif';
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top:25px;
    float:left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
}
}
img{
    width: 20%;
     border-radius: 50%;
     opacity: 0;
     height: auto;
     animation: fadeIn 1s linear both;
     animation-delay: 0.5s;
}



