// .experience-container{
//     position: absolute;
//     left: 50%;

//     transform: translateY(-50%);
//     width: 35%;
//     vertical-align: middle;
//     display: table-cell;
//     max-height: 90%;
//   }

.experience-container {
  font-family: sans-serif;
 
  h1{
    text-align: center;
    color: #ffd700;
}
}

